body, p, a, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nopadding{padding:0 !important;}
p {
    font-size: 14px;
    margin-bottom: 10px;

    letter-spacing: 0.30px;
    line-height: 26px;
}
a {
    text-decoration: none !important;
  cursor:pointer !Important;
}
a:hover {
    color:#008a57;
}
img{
  max-width:100%;
  height:auto;
}
.content-2 img:hover, .latestnews-content img:hover{
  opacity: 0.7;
}

.h3, h3 {
  font-size: 20px;
}
.header-top {
    padding-top: 5px;
    padding-bottom: 2px;
}
.header-top, .header-top a {
    color:#5a5a5a;
}
.paddingtop59 {
    padding-top: 59px !important;
}
.toright{
  float: right;
}
.toleft{
  float: left;
}
.pull-right {
    width: 100%;
    text-align: right;
}
.pull-right li {
    display: inline;
    padding-left: 14px;
}
#office_map{
  width: 100%;
  height: 900px;
}
.hright li{font-weight:600;}
.pull-right .fa-phone {
    color: #b60000;
    font-size: 16px;
    margin-right: 10px;
}
.pull-right .fa-envelope-o {
    color: #2e2e2e;
    font-size: 16px;
    margin-right: 10px;
}
.language {
    float: right;
    text-align: right;
    padding-bottom: 18px;
}
.language-1 {
    width: 30%;
    float: left;
    cursor: pointer;
}
.language-2 {
    width: 30%;
    float: left;
    cursor: pointer;
    padding-left: 12px;
}
.language-3 {
    width: 30%;
    float: left;
    cursor: pointer;
    padding-left: 17px;
}
.header-nav {
    padding-top: 16px;
}
ul#main-menu{float:right;}
.header-nav .nav li a {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.30px;
    text-align: center;
    border-radius: 0;
    z-index: 99;
    font-weight: bold;
  background:none !important;
}
.header-nav .nav li.active a {
   color:#008452;
}
.header-nav .nav li a:hover {
    color:#008452;
}

.header-nav .nav li.active span.line, .header-nav .nav li:hover span.line{
background: #fbc50d none repeat scroll 0 0;
}
.header-nav .nav li span.line{
/*background: #fff none repeat scroll 0 0;*/
display: inline-block;
height: 2px;
margin: 0 auto;
width: 30%;
}

#myNavbar {
    padding: 3px 0 0;
}
#myNavbar li{
  margin:0;
  text-align: center;
}
.nav > li {
    padding-right: 26px;
}
.nav > li:last-child {
    padding-right:0;
}
.nav > li > a  {
    padding: 10px 0;
}
.navbar-inverse {
background: #fff none repeat scroll 0 0;
border: 0 none;
border-radius: 10px;
margin-bottom: 0;
}
.home-slider {
    overflow: hidden;
}
.home-slider img {
    width: 100%;
}
#content .home-slider #left-slider .tab-content label {
    font-size: 14px;
    color: #e8e8e8;
    font-weight: 600;
    margin-bottom: 10px;
}
#content .home-slider #left-slider .tab-content select {
    margin-bottom: 25px;
}
#content .home-slider #left-slider .tab-content button {
    background: #c8a500 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-weight: 600;
    padding: 8px 25px;
}
#content .home-slider .carousel {
    overflow: hidden;
}
#content .home-slider .carousel  .carousel-inner, #content .home-slider .carousel  .carousel-inner .item {
    height: 100%;
}
#content .home-slider .carousel  .carousel-inner img {
    width: 100%;
}

#content .home-slider .container {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
/*#content .home-slider .soliloquy-caption {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  border-bottom: 4px solid rgba(250, 191, 25, 0.6);
  left: auto;
  padding: 56px 30px 193px;
  right: 0;
  text-align: left;
  top: 86px;
  width: 500px;
}*/
#myCarousel .carousel-indicators {
    bottom: 0;
}
#myCarousel .carousel-indicators li {
  background-color: #fff;
  border: 0;
  margin:0 5px;
  height: 14px;
  width: 14px;
}
#myCarousel .carousel-indicators li.active {
  background-color: #ffbe1f;
  border: 0;
  margin:0 5px;
  height: 14px;
  width: 14px;
}
#content {
    margin-top: 10px;
}
.home #content .row {
  margin-left: 0;
  margin-right: 0;
}
.content-1 {
    background: url("../images/bg1.jpg") no-repeat left top/ 100% 100%;
    text-align: center;
    color: #fff;
    padding-top: 60px;
    position: relative;
}
.content-1 h2 {
    padding-bottom: 38px;
  text-transform:uppercase;
    font-size: 40px;
}
.content-1 p {
    margin-bottom: 0;
}
.wc-home {
    background: url(../images/bg-content-1.jpg);
}
.wc-home-2 {
    box-shadow: -8px 0px 9px -4px rgba(0,0,0,0.19);
    padding-bottom: 82px;
}
.wc-home-left{
    z-index: 99999;
    padding-top: 80px;
}
.wc-home-left h1{
    display: inline;
    font-size: 45px;
}
.wc-home-left .title-1 {
    color: #058555;
    font-family: 'lora';
    margin-right: 5px;
}
.wc-home-left .title-2{
    color: #444d54;
    font-family: 'lora';
}
.wc-home-left h5{
    color: #545557;
    font-size: 15px;
    margin-bottom: 6px;
}
.wc-home-left h5 span.line {
  background: #058555 none repeat scroll 0 0;
  display: inline-block;
  height: 3px;
  margin: 0;
  width: 50px;
}
.wc-home-left a.readmore{
  display: inline-block;
  margin-top: 50px;
}
.margintop20{
  margin-top: 20px;
}
/*.wc-home-left p {
    padding-top: 25px;
    padding-bottom: 15px;
}*/
.wc-home-left p {
  font-weight: 600;
  letter-spacing: 0.30px;
  line-height: 22px;
  color: #4b4b4b;
}
.wc-home-left a {
    color: #242b3b;
    background: #f8b920;
    padding: 6px 55px;
    border-radius: 30px;
}
.wc-home-right {
    padding-top: 90px;
    padding-left: 5px;
}
.wc-home-right img {
    width: 100%;
    color: #3b3f40  ;
    border: 13px solid #fff;
    /*box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);*/
    box-shadow:2px 3px 8px 0px rgba(0,0,0,0.35);
}
.slider-content-1 {
bottom: -45px;
height: auto;
position: relative;
text-align: center;
width: 100%;
z-index: 99999;
box-shadow: -7px 27px 53px -29px rgba(0,0,0,0.75);
}
.slider-content-1 img {
    text-align: center;
}
.slider-content-1 img:hover {
    opacity: 1;
}
.slider-content-1 .carousel-caption {
    bottom: 0;
left: 0;
padding: 20px 0 0 17px;
text-align: left;
box-shadow: 5px -68px 9px -17px rgba(0, 0, 0, 0.75) inset;
width: 100%;
height: 60px;
}
.slider-content-1 .carousel-caption h4 {
  margin:0;
  text-transform:uppercase;
  font-weight:bold;
}
.slider-content-1 .carousel-control.left {
    background: none;
}
.slider-content-1 .carousel-control.right {
    background: none;
}
.slider-content-1 .carousel-control {
    width: 3%;
  opacity:0.8;
}
.slider-content-1 .carousel-control:hover {
    width: 3%;
  opacity:1;
}
.glyphicon-menu-left, .glyphicon-menu-right {
  display: inline-block;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  z-index: 5;
  border:2px solid #fff;
  border-radius:50%;
  padding:3px;
  opacity:1;
  color:#fff;
}
.glyphicon-menu-left{
  left:20px;
}
.glyphicon-menu-right {
  right:20px;
}
.title-content {
    margin-bottom: 25px;
}
.content-2 {
    background: url("../images/bg-content-2.jpg");
    padding-top: 110px!important;
    z-index: -1;
}
.content-2 h2 {
    color: #45494c;
    display: inline;
}
.content-2 span.dot {
  background: #f8bb22 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 0 5px 5px;
  width: 8px;
}
.content-2 img {
    margin-top: 8px  ;
    width: 100%;
    box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.75);
}
.content-2-left img {
    height: 155px;
}
.content-2-left h5 {
border-bottom: 3px solid #048454;
color: #474b4e;
font-weight: bold;
padding-bottom: 7px;
padding-top: 10px;
}
.content-2-right img {
    height: 90px;
}
.content-2-right  h5{
    margin-top: -18px;
    padding-left: 8px;
    position: relative;
    color: #fff;
  font-weight:bold;
}
.content-2-right .img-right img:last-child {
    margin-top: 15px;
}
.read-more {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.content-3{
  margin:0; 
    background: url('../images/bg-content-2.jpg') ; 
    padding-top: 35px;
    padding-bottom: 78px;
}
.content-3 .item  img {
    height: 360px;
    width: 100%;
    box-shadow: inset 0px -50px 23px -14px rgba(0,0,0,0.75)!important ;
}
.content-3 h2.title{
color: #058555;
text-transform: uppercase;
margin: 0 0 37px; 
}
.content-3 p{
color: #47484c; 
}
.content-3 a.readmore{
  margin:23px 0 0;
  display:inline-block;
}
.content-3 .carousel-caption {
  bottom: 20px;
  left: 20px;
  padding: 0;
  text-align: left;
}
.content-3  .carousel-caption h4 {
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.content-4{ 
  background:url(../images/bg3.jpg);
  padding:20px 0 60px;
}
.listhotels{margin:20px 0 0;}
.content-4 .read-more h2{ 
  /*color: #058555;*/
  text-transform: uppercase;
  font-size: 40px;
}
.content-4 span.dot {
  background: #f8bb22 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 25px 5px 0;
  width: 8px;
}
.content-4 span.dot1 {
  background: #f8bb22 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 0px 5px 25px;
  width: 8px;
}
.slider-content-2  img{ 
  position:relative;
  box-shadow: 0px 7px 4px 0px #666;
    -moz-box-shadow: 0px 7px 4px 0px #666;
    -webkit-box-shadow: 0px 7px 4px 0px #666;
    float: left;
    height: 330px!important;
}
.slider-content-2 .carousel-control.left{
    background: none;
}
.slider-content-2 .carousel-control.right {
    background: none;
}

.img-slider-1 {
    width: 100%;
    display: inline;
    float: left;
}
.img-slider-1  img {
    width: 92%;
}
.img-slider-2 {
    width: 100%;
    display: inline;
    float: left;
}
.img-slider-2  img {
    width: 92%;
}
.img-slider-3 {
    width: 100%;
    display: inline;
    float: left;
}
.full-width {
    padding: 0;
}
.full-width-1  {
    padding: 0;
}
.img-slider-3  img {
    width: 98%;
}
.slider-content-2 img:last-child {
margin-right: 0;
}
.content-4 .read-more {
    margin-bottom: 21px;
    margin-top: 52px;
}
.content-4 .des {
  bottom: 20px;
  left: 30px;
  position: absolute;
}
.content-4 .des h2{
color:#ffbc15;
margin:0 0 5px;
text-transform: uppercase;  
}
.content-4 .des h3{
color:#fff;
margin:0;
text-transform: uppercase;
}
.content-5  {
    background: url(../images/bg-content-2.jpg);
}
.content-5 .row.buttons {
  /*border-top: 1px solid #000;*/
  /*margin: 25px 0;*/
  padding: 27px 0 0 !important;
}
.content-5-left{margin-top:60px;
}
.content-5  h2.title-1 {
  font-size: 40px;
  color: #058555;
  display: inline-block;
  text-transform: uppercase;
  margin:0 0 20px;
}
.content-5  h2.title-2 {
  color: #444d54;
  font-size: 40px;
  display: inline-block;
  text-transform: uppercase;
  margin:0 0 20px;
}
.content-5 i.fa{
float: left;
font-size: 45px;
}
.content-5 img:hover {
    opacity: 1;
}
.img-left {
float: left;
line-height: 50px;
width: 50px;
}
.content-5  a.readmore1 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #ffbe1f;
  border-radius: 30px;
  color: #058555;
  display: inline-block;
  font-weight: bold;
  padding: 6px 0 6px 20px;
  text-align: left;
  text-shadow: none;
  text-transform: uppercase;
  width: 190px;
  margin:5px 0 0 7px;
}
.content-5  a.readmore1:hover {
  background: #ffbe18 none repeat scroll 0 0;
  border:2px solid #ffbe1f;
  border-radius: 30px;
  color: #212a27;
}
.content-5-right{max-width:480px;}
.button-1, .button-2, .button-3, .button-4{height:50px;}
#content .content-5 .des {
  position:absolute;
  bottom:40px;
  left:40px;  
}
span.dot {
  background: #f8bb22 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 25px 5px 0;
  width: 8px;
}
span.dot1 {
  background: #f8bb22 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 0px 5px 25px;
  width: 8px;
}

#content .content-5 a.readmore2 {
  background: #ffbe18 none repeat scroll 0 0;
  border-radius: 30px;
  color: #212a27;
  display: inline-block;
  font-weight: 600;
  padding: 6px 0;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  width: 180px;
}

#content .content-5 a.readmore2:hover{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #ffbe1f;
  color: #fff;
  
}
 #content .content-5  a.clicktour {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #ffbe1f;
  color: #fff;
  margin-left: 20px;
}
#content .content-5  a.clicktour:hover {
background: #ffbe18 none repeat scroll 0 0;
  border-radius: 30px;
  color: #212a27;
  display: inline-block;
  font-weight: 600;
  padding: 6px 0;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  width: 180px;
}
.latestnews {
    padding-top: 40px;
  background: url(../images/bg4.jpg);
  background-size: 100% 100%;
}
.latestnews .read-more {
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
}
.latestnews .read-more h2 {
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}
.latestnews span.dot {
  background: #f8bb22 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 25px 5px 0;
  width: 8px;
}
.latestnews span.dot1 {
  background: #f8bb22 none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 0 5px 25px;
  width: 8px;
}
.latestnews .latestnews-content {
  margin: 0 auto;
  max-width: 1548px;
  width: 96%;
}
.latestnews-content .row{margin:20px 0 0;}

.latestnews-content .date{
  text-transform:uppercase;
}
.latestnews-content .date span.line {
  background: #058555 none repeat scroll 0 0;
  display: inline-block;
  height: 3px;
  margin: 0 0 4px 10px;
  width: 30px;
}
.latestnews-content .title{
  margin:12px 0;
}
.latestnews-content .title a{
  color:#058555;  
  padding:10px 0;
  font-weight:bold;
}
.latestnews-content .title a:hover{
  color:#ffbe18;
}
.latestnews-content .description{
  margin:0 0 28px;
}
.latestnews-content a.readmore3 {
  border: 2px solid #ffbe18;
  background:none;
  border-radius: 30px;
  color: #000;
  display: inline-block;
  font-weight: 600;
  padding: 4px 25px;
  font-size:13px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}
.latestnews-content a.readmore3:hover {
  background: #ffbe18 none repeat scroll 0 0;
  border: 2px solid #ffbe18;
  border-radius: 30px;
  color: #fff;
}
.latestnews-content hr{
  background:#ccc;
height:1px; 
}
.ftop{
  background: #2a2f33 none repeat scroll 0 0;
  color: #fff;
  padding: 52px 0;
}
.ftop p{
  font-weight:bold;
  margin-bottom:13px;
}
.fbottom{
  background:#121212;
  padding:20px 0;
  color:#fff;
  font-weight:bold;
}
.fbottom a{
  color: #fff;
  font-weight:bold;
}
ul#fmenu li{
  margin-bottom:12px;
}
ul#fmenu li a{
  color:#fff;
  text-transform:uppercase;
  font-size:14px;
  font-weight:bold;
}
ul#fmenu li a:hover{
  color:#058555;
}
.fright{text-align:right;}

.navbar {
  border: 0;
  min-height: auto;
  position: relative;
}
#myNavbar {
  padding: 4px 0 0;
  margin: 5px 0 0;
}
.navbar-toggle{
  background-color: #333;
  border-color: #333;
  margin-bottom:0;
  margin-top:0;
}
.bxSlider .bx-pager {
    display: none;
}
.slide img {
    box-shadow: -1px 13px 5px -6px rgba(0,0,0,0.66);
}
.bx-prev{
    border: 2px solid #fff;
    border-radius: 30px;
    margin-left: -55px;
}
.bx-next{
    border: 2px solid #fff;
    border-radius: 30px;
    margin-right: -46px;
}
.bxSlider-caption {
  bottom: 0;
  box-shadow: 5px -86px 17px -17px rgba(0, 0, 0, 0.75) inset;
  color: #fff;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}
.bxSlider-caption h3 {
    color: #ffbb1f;
    margin-bottom: 11px;
    margin-top: 0;
}
.bxSlider-caption h3 a {
    color: #ffbb1f;
}
.bxSlider-caption h3 a:hover {
    color: #fff;
}
.bxSlider-caption h5 {

    margin-top: 0;
    margin-bottom: 15px;
}
.bxSlider-caption h5 a{
  color: #fff;
}

.noleft{padding-left:0 !important;}
.noright{padding-right:0 !important;}

/*
 *******************
 * = Nyan Lin
 *******************
*/
#banner{
  position: relative;
}

#banner img{
  height: 260px;
  width: 100%;
  position: relative;
  width: 100%;
  display: inline-block;
}
.bannerheader{
  margin: 0;
  line-height: 260px;
  padding: 0;
  margin-top: -260px;
  position: relative;
}

#category{
  height: 150px;
  color: #000;
}
#category h1{
  line-height: 150px;
  padding: 0;
  margin: 0;
}
.news-intro a span.news-readmore{
    vertical-align: middle;
    /*border: 1px solid #cfcfcf;*/
    /*text-align: center;*/
    /*padding: 9.5px 0;*/
    /*margin: 0 15px;*/
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    -moz-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
}
.news-intro a span.news-readmore:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform opacity;
}

.news-intro a span.news-readmore{
    margin-top: 20px;
    display: inline-block;
    background: #ffbe1f;
    width: auto;
    border-radius: 50px;
    font-weight: 600;
    padding: 6px 25px;
    color: #000;
    transition:0.5s;
}
.news-intro a span.news-readmore:hover{
  background: #015f09;
  color: #fff;
  transition:0.5s;
}
.news-intro a span.news-readmore:hover:before {
    opacity: .4;
    transform: translateY(6px);
    
}


.newsection{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.news-header a h4{
    color: #058555;
    font-family: 'lora';
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1.5px;
}
.news-header span{
  margin-bottom: 30px;
  display: inline-block;
  color: #555e69;
}
.news-intro{
  letter-spacing: 0.30px;
  color: #111;
  font-family: 'lora';
}

.soliloquy-container .soliloquy-caption-inside a{
  color: #000 !important;
  transition:0.5s;
}
.soliloquy-caption-inside {
  text-align: left !important;
}
.soliloquy-caption-inside h5 {
    font-size: 16px;
}
.soliloquy-caption-inside h2 {
    margin-bottom: 30px;
    font-family: 'lora';
    margin-top: 4px;
    font-size: 45px;
}
#content .home-slider .soliloquy-caption-inside a.readmore, a.readmore {
background: #ffbe1f none repeat scroll 0 0;
border-radius: 30px;
color: #212a27;
font-weight: 600;
padding: 6px 63px;
text-shadow: none;
text-transform: uppercase;
}
#content .home-slider .soliloquy-caption-inside a.readmore:hover, a.readmore:hover {
color:#fff;
}
#content .soliloquy-caption {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
    border-bottom: 4px solid rgba(250, 191, 25, 0.6);
    left: auto;
    padding: 56px 30px 193px;
    right: 15%;
    text-align: left;
    /*top: 86px;*/
    top: 20%;
    width: 500px;
    height: 250px;
}

.fontlora{
  font-family: 'lora';
}
.nav>li>a{
  color: #5a5a5a;
}
.soliloquy-container .soliloquy-pager-link:hover, .soliloquy-container .soliloquy-pager-link.active{
  background: #febf18;
  background-image: none !important;
}
.soliloquy-container .soliloquy-pager-item,.soliloquy-container .soliloquy-pager-link{
  background: #fff ;
  background-image: none !important;
  border-radius: 50%;
}
.newswrap img{
  width: 100%;
  transition:0.5s;
}
.newswrap{
  overflow: hidden;
}
.newswrap:hover img{
  transform:scale(1.1);
  transition:0.5s;
}
.sgnewwrap{
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutimg{
  margin-bottom: 20px;
  margin-top: 20px;
}
.margintop50{
  margin-top: 50px;
}
.marginbottom50{
  margin-bottom: 50px;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 1em;
  /*margin: 1em;*/
  /*max-width: 350px;*/
  width: 100%;
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  /*font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 97.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}
.form-horizontal{
  margin-top: 30px;
}
/* Yoshiko */
.input__field--yoshiko {
  width: 100%;
  background-color: #fff;
  border: 2px solid #c4c4c4;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
  border-radius: 10px;
}

.input__label--yoshiko {
  width: 100%;
  text-align: left;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  overflow: hidden;
  padding: 0 1.25em;
  -webkit-transform: translate3d(0, 3em, 0);
  transform: translate3d(0, 3em, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s ;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
  font-size: 14px;
  color: #8B8C8B;
  padding: 0.25em 0;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #a3d39c;
  /*padding: 0.25em 0;*/
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}

.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
  background-color: transparent;
  border-color: #a3d39c;
}
.formwrapper{
  padding: 0 15px 0 15px;
}

#sendbtn{
    display: inline-block;
    background: #ffbe1f;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 6px 25px;
    color: #000;
    transition: 0.5s;
    /*margin: 10px;*/
}

.list-icons {
    padding-left: 0;
    margin-left: 36px;
    margin-top: 40px;
    list-style-type: none;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}

.list-unstyled li {
    margin-bottom: 30px;
}
.list-icons > li {
    position: relative;
    color: #000;
    padding-top: 9px;
    /*text-align: center;*/
    padding-left: 15px;

}
ul.social-icons {
    padding: 0;
    list-style: none;
}
.list-icons > li > i {
    position: absolute;
    left: -36px;
    width: 36px;
    height: 36px;
    top: 2px;
    background: #ffbe1f;
    text-align: center;
    color: #000;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 50px;
    padding-top: 9px;
}


.facebookcontact{
  position: absolute;
  /*left: -36px;*/
  width: 36px;
  height: 36px;
  /*top: 2px;*/
  background: #ffbe1f;
  text-align: center;
  color: #000;
  font-size: 18px;
  vertical-align: middle;
  border-radius: 50px;
  padding-top: 7px;
}

.section-breadcrumb {
    padding: 90px 0;
    text-align: center;
    position: relative;
    background-color: #fff;
}
.section-breadcrumb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
    background-image: url(../images/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.borderbot{
  border-bottom: 1px solid #000;
  /*padding: 25px 0;*/
}
.soliloquy-container .soliloquy-caption-inside a:hover{
  color: #fff !important;
  transition:0.5s;
}




/* Effect 8 */
.sonareffect .icon {
  /*background: rgba(255,255,255,0.1);*/
  background: #fff;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.sonareffect .icon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.sonareffect .icon:hover {
  /*background: rgba(255,255,255,0.05);*/
  background: #fff;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}

.sonareffect .icon:hover:after {
  -webkit-animation: sonarEffect 1.5s infinite 75ms;
  -moz-animation: sonarEffect 1.5s infinite 75ms;
  animation: sonarEffect 1.5s infinite 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #c3c3c3, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #c3c3c3, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #c3c3c3, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #c3c3c3, 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #c3c3c3, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #c3c3c3, 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.3);
    opacity: 0;
  }
}

.travelinfosg{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ffbe1f;
    border-radius: 30px;
    color: #058555;
    display: inline-block;
    font-weight: bold;
    padding: 6px 0 6px 0px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    width: 190px;
    margin: 20px 0 0 7px;
    transition:0.5s;
}
.travelinfosg:hover{
  background: #ffbe1f;
  color: #000;
  transition:0.5s;
}
.icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 23px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.125);
  text-align: center;
  cursor: pointer;
}

.icon:after {
  position: absolute;
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  pointer-events: none;
}
.ourhotelswrapper{
  margin-bottom: 50px;
  margin-top: 50px;
}
#ourhotels .single_room_wrapper{
    overflow: hidden;
    margin-bottom: 20px;
}
.uk-overlay {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    margin: 0;
}
#ourhotels .single_room_wrapper .uk-overlay{
    overflow: visible;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
#ourhotels .room_media{
    margin-bottom: 10px;
    text-align: center;
}
.uk-overlay>:first-child {
    margin-bottom: 0;
}
#ourhotels .room_media a{
    display: block;
}
.border-bottom-whitesmoke {
    border-bottom: solid 1px #e1e1e1;
}
.floatleft {
    float: left;
}
#ourhotels .left_room_title > h6{
    font-family: "Lora",serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.30px;
}
#ourhotels .left_room_title > p{
    font-family: "Lora",serif;
    font-size: 18px;
}
#ourhotels .left_room_title > p > span{
    font-size: 11px;
}
.floatright {
    float: right;
}
.btnhotel {
    /*border: 2px solid #475362;*/
    border-radius: 0;
    color: #fff;
    background: #444;
    font-family: "Lora",serif;
    font-size: 14px;
    padding: 8px 17px;
    display: inline-block;
    transition:0.5s;
}
.btnhotel:hover{
    color: #444;
    background: #fff;
    transition:0.5s;
}
.single_wrapper_details{
  display: none;
}

#ourhotels .single_wrapper_details{
    background: #ffbe18 none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-display: block;
    padding: 13px;
}
.info-classic .address{
  color: #000;
  display: none;
  margin-bottom: 20px;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: 600;
}
#ourhotels .event-classic-item:hover .info-classic .address{
  display: block;
}

.uk-overlay-active :not(.uk-active)>.uk-overlay-panel:not(.uk-ignore), .uk-overlay-hover:not(:hover):not(.uk-hover) .uk-overlay-panel:not(.uk-ignore) {
    opacity: 0;
}
.uk-overlay-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
}
.uk-overlay-background {
    background: rgba(0,0,0,.5);
}
.uk-overlay-panel.uk-flex>*>:last-child, .uk-overlay-panel>:last-child {
    margin-bottom: 0;
}
#ourhotels .single_wrapper_details .single_wrapper_details_pad{
    height: 100%;
    width: 100%;
}
.padding-22 {
    padding: 22px;
}
.border-dark-1 {
    /*border: solid 1px #475362;*/
}
#ourhotels .single_wrapper_details h5{
    /*color: #000;*/
    /*font-size: 18px;*/
    /*font-family: "Lora",serif;*/
    /*text-transform: none;*/

    color: #1d2129;
    font-size: 20px;
    font-family: "Lora",serif;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 21px;
}
#ourhotels .single_wrapper_details p{
    color: #444;
    font-size: 14px;
    letter-spacing: normal;
}
/*#ourhotels .single_room_wrapper {
    overflow: hidden;
}*/
#ourhotels .single_room_wrapper .uk-overlay:hover .single_wrapper_details{
    display: block;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.marginbottom10{
  margin-bottom: 30px;
}

/*.bighotelwrap{
  position: relative;
}
.bighoteloverlay{
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
*/


#ourhotels .inner-post {
    position: relative;
}
#ourhotels .inner-post a img {
    width: 100%;
}
#ourhotels .light-box {
    position: absolute;
    height: 100%;
    top: 0;
    display: none;
    width: 100%;
    /*background: rgba(0,0,0,0.5); */
    background: rgba(255,190,24,0.5);
}

#ourhotels .info-classic {
    position: absolute;
    bottom: 0;
    padding: 0px 10px 0;
    color: red;
    text-align: center;
    width: 100%;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all 0.3s ease-in-out;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

#ourhotels .info-classic .product-price {
    color: #fff;
    font-weight: 700;
    margin-bottom: 7px;
    font-size: 150%;
    font-family: "lora";
}
#ourhotels .info-classic .title {
    font-size: 128.5%;
    font-family: "lora";
    /*font-style: italic;*/
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 23px;
}
#ourhotels .inner-post:hover .info-classic .title a {
      color: #1d2129;
    font-size: 20px;
    font-family: "Lora",serif;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 21px;
    /*color: #fff;*/
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
#ourhotels .info-classic .title a{
      color: #fff;
 
    font-size: 20px;
    font-family: "Lora",serif;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 21px;
    /*color: #fff;*/
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
#ourhotels .info-classic .classic-read-more a {
    display: none;
}
#ourhotels .info-classic .classic-read-more a i {
    padding-left: 2px; 
}

#ourhotels .inner-post:hover .light-box {
    display: block;
}

#ourhotels .inner-post:hover .info-classic {
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background: transparent;
}
#ourhotels .event-classic-item:hover .info-classic .classic-read-more a {
  display: inline-block;
  text-decoration: underline;
  text-transform: capitalize;
  color: #fff;
  background: #444;
  padding-top: 10px;
  padding-bottom: 10px;
  transition:0.5s;   
}
#ourhotels .event-classic-item:hover .info-classic .classic-read-more a:hover{
  color: #444;
  background: #fff;
  transition:0.5s;   
}
#ourhotels .event-classic-item {
    float: left;
}


#sghotel{
  /*background: url(../images/bg-content-2.jpg);*/
   padding-top: 30px;
}
.hoteltabheader{
  background: #7d7d7d;
  padding: 5px;
  /*margin-bottom: 30px;*/
}

.hoteltab li{
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    letter-spacing: 0.30px;
    float: left;
    background: #fff;
    transition:0.6s;
}
.hoteltab li a{
  color: #000;
}
/*.hoteltab li a:hover{
  color: #008452;
}*/
.hoteltab li:hover a{
  color: #fff;
}
.hoteltab li:hover{
  background: #008452;
  transition:0.6s;
}

.hoteltab li a i{
  margin-right: 6px;
}

#sghotel h3{
  color: #058555;
  border-bottom: 2px solid #058555;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.addwrap{
    margin-bottom: 20px;
    line-height: 26px;
    display: inline-block;
    width: 100%;
}
.addwrap i{
  color: #058555;
  margin-right: 6px;
}
.greencolor{
  color: #058555;
}
.addwrap ul.facilist{
  list-style: none;
}
.addwrap ul.facilist li{
    display: inline-block;
    float: left;
    line-height: 26px;
    width: 25%;
}
.margintop30{
  margin-top: 30px;
}
.marginbottom30{
  margin-bottom: 30px;
}
.borderimg{
  /*border: 1px solid #ccc;
  padding: 5px;*/
  /*background: #07b574;*/
}
.marginbottom20{
  margin-bottom: 20px;
}
.f30{
  font-size: 30px;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}
.effect6:after
{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}
hr{
  border-top: 1px solid #b2b2b2;
  /*width: 70%;*/
}
/*  #room .bigeffect img, #aboutus .bigeffect img{
    transition:0.8s;
  }
  #room .bigeffect, #aboutus .bigeffect{
    overflow: hidden;
  }
  #room .bigeffect:hover img, #aboutus .bigeffect:hover img{
    transform: scale(1.1);
    transition:0.8s;
  }

  #hotelgallery .smalleff{
    overflow: hidden;
  }
  #hotelgallery .smalleff:hover img{
    transform: scale(1);
    transition:0.8s; 
  }
  #hotelgallery img{
    transform: scale(1.1);
    transition:0.8s; 
  }
*/
.smalleff img{
  width: 100%;
}
#aboutus .bigeffect img{
    transition:0.8s;
  }
#aboutus .bigeffect{
    overflow: hidden;
  }
#aboutus .bigeffect:hover img{
    transform: scale(1.1);
    transition:0.8s;
  }
  
/*  #hotelgallery .smalleff{
    overflow: hidden;
  }
  #hotelgallery .smalleff:hover img{
    transform: scale(1);
    transition:0.8s; 
  }
  #hotelgallery img{
    transform: scale(1.1);
    transition:0.8s; 
  }
*/
/*loader css*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader-128x/Preloader_2.gif) center no-repeat #fff;
}
.invalid{
  border: 2px solid #e12121;
}

.thankumsg{
  color: #058555;
}
.thankumsg p{
  font-size: 20px;
  font-family: 'lora';
  margin-top: 30px;
}
.underline{
  color: #058555;
  border-bottom: 2px solid #058555;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 15px;
  text-transform: capitalize;
}
.traveltitle{
  color: #058555;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #ffbe1f;
}

/*
 *******************
 * = Hotel Nav
 *******************
*/
.marginright10{
  margin-right: 10px;
}
.hotelnavigation{
  background: #4b4f56;
  color: #fff;
      position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

.hotelnavigation ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: left;
    -moz-justify-content: left;
    -ms-justify-content: left;
    justify-content: left;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.hotelnavigation ul li{
  background: #3d3f43;
  float: left;
  padding: 15px 15px;
  text-align: center;
  margin-right: 1px;
  text-transform: uppercase;
  transition:0.6s;
  min-width: 24.8%;
}

.hotelnavigation ul li:hover a{
  color: #fff;
}

.hotelnavigation ul li a {
  color: #f8bb22;
}

.hotelnavigation ul li.tab-current a{
  background: red;
}

.hotelnavigation ul li a:hover, .hotelnavigation ul li a:focus {
    color: #fff;
}

/*404 Not found*/

.error404 .page-404 h1{
  font-size: 10em;
  color: #ffa1a0;
  font-weight: 600;
  padding-bottom: 30px;
  font-style: italic;
}

.error404 .page-404 span {
    font-size: 30px;
    margin-bottom: 50px;
    display: block;
    font-style: italic;
}
/*Reponsive */

@media(max-width: 1024px){
  #ourhotels .single_wrapper_details p{
    line-height: 20px;
  }
  .content-5-left, .borderbot{
    margin-bottom: 10px;
  }
  .content-5 .row.buttons{
    padding: 0 !important;
  }
  #content .soliloquy-caption{
    width:450px; 
    height:200px;
    padding: 33px 30px 150px;
  }
  .nav > li{
    padding-right: 16px;
  }
  .padding-22{
    padding: 5px
  }
}
@media(max-width: 991px){
  .news-header h2{
    font-size: 22px;
  }
  #ourhotels .inner-post{
  display: inline-block;
}
#ourhotels .event-classic-item{
  float: none;
  display: inline-block;
}
.ourhotelswrapper{
  text-align: center;
}
#ourhotels .single_wrapper_details p{
  text-align: left;
}
#ourhotels .single_wrapper_details h5{
  text-align: left;
}
  .logo{
    text-align: center;
  }
  ul#main-menu{
    float: none;
    display: inline-block;
  }
  #myNavbar{
    text-align: center;
  }
  #content .soliloquy-caption {
    width: 350px;
    height: 150px;
    padding: 15px 20px 150px;
}
.soliloquy-caption-inside h5 {
    font-size: 14px;
}
  .soliloquy-caption-inside h2 {
    margin-bottom: 30px;
    font-family: 'lora';
    margin-top: 4px;
    font-size: 36px;
}
.slide img{
  width: 100%;
  height: 100%;
}
.content-4{ 
  background-size: 100% 100%;
}
.navbar-toggle .icon-bar{
background: #fff; 
}
}
@media(max-width: 768px){
  .news-header h2{
    font-size: 18px;
  }
   .bannerheader{
    font-size: 30px;
  }
  .fbox{
  border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
}
  .underline{
    margin-top: 20px;
  }
  .logo{
    text-align: center;
  }
  ul#main-menu{
    float: none;
    display: inline-block;
  }
  #myNavbar{
    text-align: center;
  }
  #content .soliloquy-caption {
    width: 350px;
    height: 150px;
    padding: 15px 20px 150px;
}
.soliloquy-caption-inside h5 {
    font-size: 14px;
}
  .soliloquy-caption-inside h2 {
    margin-bottom: 30px;
    font-family: 'lora';
    margin-top: 4px;
    font-size: 36px;
}
.slide img{
  width: 100%;
  height: 100%;
}
.content-4{ 
  background-size: 100% 100%;
}
.navbar-toggle .icon-bar{
background: #fff; 
}

}

@media(max-width: 640px){
.soliloquy-container{
  display: none;
}
.mbtitle{
  font-size: 20px;
}
}



@media(max-width: 1199px){
.nav > li{
  padding-right: 16px;
}
}
@media (min-width:1024px){
  
  
  .slider-content-2 .left {
    width: 65px;
    margin-left: -55px;
  }
  .slider-content-2 .right {
    width: 65px;
    margin-right: -55px;
  }
    /*.wc-home-left p {
        padding-bottom: 40px;
    }*/
    .wc-home {
        margin-bottom: 0!important ;
    }
    .wc-home-1 {
        padding-bottom: 45px;
    }
    .buttons {
        padding-bottom: 0!important;
    }
    
} 
@media (min-width:320px) and (max-width:1199px){
  #content .content-5 .des {
    bottom: 40px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 180px;
  }
  #content .content-5 a.clicktour {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ffbe1f;
    color: #fff;
    margin: 20px 0;
  } 
}
@media (max-width:579px){
  #content .home-slider .carousel-caption {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-bottom: 4px solid rgba(250, 191, 25, 0.6);
    display: inline-table;
    left: 50%;
    padding: 10px;
    right: 0;
    text-align: left;
    top: 20px;
    transform: translateX(-50%);
    width: 310px;
  }
  #content .home-slider .carousel-caption h5 {
    font-size: 14px;
    margin: 0 0 10px;
  }
  #content .home-slider .carousel-caption h2 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  #content .home-slider .carousel-caption a.readmore {
    font-size: 11px;
    padding: 6px 10px;
  } 
} 
@media (min-width:580px) and (max-width:767px){
  .content-5-left{    
    width:58%;
  }
  .content-5-right{
    max-width:480px;
    width:42%;
  } 
  #content .home-slider .carousel-caption {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-bottom: 4px solid rgba(250, 191, 25, 0.6);
    display: inline-table;
    left: 50%;
    padding: 20px;
    right: 0;
    text-align: left;
    top: 30px;
    transform: translateX(-50%);
    width: 500px;
  }
} 
@media (min-width:768px) and (max-width:1023px){
  .header-nav {
    /*padding-top: 0px;*/
  }
  .nav > li {
    padding-right: 20px;
  }
  .listhotels .bx-wrapper .bx-prev {
    left: -25px;
  }
  .listhotels .bx-wrapper .bx-next {
    right: -15px;
  }
}
@media (max-width:1169px){
  .wc-home{padding-bottom:20px;}
  .content-5 .row.buttons{margin:0;}
  .content-5 .row.buttons1{margin:0 0 20px 0;}
} 
@media (max-width:500px){
  .fbox{width:100%;text-align:left;}
} 
@media (max-width:414px){
  .latestnews-content .latest-news-1, .latestnews-content .latest-news-2{width:100%;}
}
@media (max-width:1023px){
  .bx-prev {
    border: 2px solid #fff;
    border-radius: 30px;
    margin-left: 0;
  }
  .bx-next {
    border: 2px solid #fff;
    border-radius: 30px;
    margin-right: 0;
  }
}
@media (max-width:767px){

  .header-nav {
    padding-top: 0;
    /*position: fixed;*/
    right: 0;
    top: 0;
    z-index: 999;
  } 
  .header-nav .navbar  {
    margin:5px;
  }
  ul#main-menu {
    text-align: center;
    /*width: 100%;*/
  }
  ul#main-menu  li {
    display: inline-block;
    float: left;
    /*padding: 0 10px !important;*/
  }
  .nav > li {
    padding-right: 14px;
  }

  #content .home-slider .carousel-caption h2 {
    font-size: 20px;
  }
  #content .home-slider .carousel-caption a.readmore, a.readmore {
    padding: 6px 14px;
  }
  .wc-home-left {
    padding-top: 30px;
    z-index: 99999;
  }
  .wc-home-right {
    padding-left: 0;
    padding-top: 20px;
  }
  .wc-home-1 {
    margin: 0 0 20px;
  }
  .wc-home-2 {
    box-shadow: -8px 0 9px -4px rgba(0, 0, 0, 0.34);
    padding-bottom: 30px;
  }

  .content-2-right img {
    height: auto;
  }
  .content-2-left img {
    height: auto;
    max-width: 100%;
    width: auto;
  }
  .read-more {
    margin-bottom: 35px;
    margin-top: 33px;
    text-align: center;
  }
  .content-3 {
    background: rgba(0, 0, 0, 0) url("../images/bg-content-2.jpg") repeat scroll 0 0;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 0;
  }
  .content-3 h2.title {
    color: #058555;
    margin: 20px 0;
  }

  .date{margin:10px 0 0;}
  .content-5 a.readmore1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ffbe1f;
    border-radius: 30px;
    color: #058555;
    display: inline-block;
    font-weight: bold;
    margin: 5px 0 0 10px;
    padding: 6px 0 6px 10px;
    text-align: left;
    text-shadow: none;
    text-transform: uppercase;
    width: 170px;
  }
  
  .latestnews .read-more {
    margin-bottom: 20px;
    margin-top: 11px;
    text-align: center;
  }
  .copyright, .developby{text-align:center !Important;}
  .developby{margin:10px 0 5px;}
}
@media(max-width: 680px){
.hotelnavigation{
    font-size: 1.1em;
  }
  .hotelnavigation ul li{
    width: 24.2%;
  }
}
@media(max-width: 640px){

  .addwrap ul.facilist li{
    width: 50%;
  }
  #sghotel h3{
    margin-top: 20px;
  }
  
  ul#main-menu li{
    width: 100%;
  }
  .nav > li > a{
    padding: 0;
  }
  .nav > li{
    padding: 0;
  }
  .wc-home-left h1{
    font-size: 36px;
  }
  .wc-home-left a.readmore{
    margin-top: 20px;
  }
  .content-1 h2{
    font-size: 36px;
  }
  .wc-home-left h1{
    font-size: 28px;
  }
  .wc-home-left a.readmore{
    margin-top: 20px;
  }
  .content-1 h2{
    font-size: 28px;
  }
}

@media(max-width: 640px){
#ourhotels .single_room_wrapper{
  min-height: 260px;
}
.input{
  margin-top: 28px;
}

}

@media(max-width: 580px){
.hotelnavigation{
    font-size: 1em;
  }
  .hotelnavigation ul li{
    width: 100%;
  }
}
@media(max-width: 480px){
  .news-header h2{
    font-size: 16px;
  }
  .bannerheader{
    font-size: 18px;
  }
#ourhotels .inner-post:hover .info-classic{
      transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    background: transparent;
}

}
@media(max-width: 479px){
  .addwrap ul.facilist li{
    width: 100%;
  }
  .contacttitle{
    font-size: 22px;
    margin-top: 30px;
  }
#ht320{
    width: 100% !important;
}
#ourhotels .inner-post a img{
  min-height: 260px;
}
}
@media(max-width: 412px){
  .latestnews .read-more h2{
    font-size: 28px;
  }
  .content-5 h2{
    font-size: 28px;
  }
  .content-4 .read-more h2{
    font-size: 28px;
  }
  .content-3 h2.title{
    font-size: 28px;
  }
  .content-2-left h5{
    margin-bottom: 20px;
  }
  .content-2 h2{
    font-size: 20px;
  }

}
@media(max-width: 320px){

.content-2 h2{
  font-size: 28px;
}
.content-3 h2.title{
  font-size: 28px;
}
.content-4 .read-more h2{
  font-size: 22px; 
}
.content-5 h2.title-1{
  font-size: 28px;
}
.content-5 h2.title-2{
  font-size: 28px;
}
.img-left{
  display: none;
}
.content-5 a.readmore1{
  text-align: center;
}
.latestnews .read-more h2{
  font-size: 24px;
}
.bxSlider-caption h3 a{
  font-size: 12px;
}
}
